/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 2, 2016, Aug 2, 2016 12:15:39 PM
    Author     : Russ
*/

/*============= Fonts ===============*/
@font-face {
	font-family: MuseoSans300;
	src: url('./assets/fonts/MuseoSans 300.otf');
}
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=85fbef7e-73f1-46a8-8d23-4aa52fc32d13");
@font-face{
font-family:"Rockwell W01 Light";
src:url("Fonts/8a120ae1-7a5b-484b-a170-f67812b59652.eot?#iefix");
src:url("Fonts/8a120ae1-7a5b-484b-a170-f67812b59652.eot?#iefix") format("eot"),url("Fonts/340f9982-e8f7-4fa5-95eb-c8c1f6ecf402.woff2") format("woff2"),url("Fonts/7658dda6-217a-406c-bcb8-7551f88e2c49.woff") format("woff"),url("Fonts/ec796902-2e28-46d0-8bbd-071b83705a39.ttf") format("truetype"),url("Fonts/66d3bbb2-4ca8-48e9-b707-f53f776ec476.svg#66d3bbb2-4ca8-48e9-b707-f53f776ec476") format("svg");
}
@font-face{
font-family:"Rockwell W01";
src:url("Fonts/73e6c08f-deb5-4d6f-827b-597a84046aa4.eot?#iefix");
src:url("Fonts/73e6c08f-deb5-4d6f-827b-597a84046aa4.eot?#iefix") format("eot"),url("Fonts/8dd355f9-1a9a-4d91-8aa1-7dcc9deeb439.woff2") format("woff2"),url("Fonts/de4b0540-9702-4662-8f3a-228419485257.woff") format("woff"),url("Fonts/bc34c4cd-af2c-400d-b4d0-726e2d89f690.ttf") format("truetype"),url("Fonts/59c05ddc-99f9-44db-82ce-cb7f503b5110.svg#59c05ddc-99f9-44db-82ce-cb7f503b5110") format("svg");
}
@font-face{
font-family:"Rockwell W01 Bold";
src:url("Fonts/864373f8-943b-449d-a730-462eb66d7058.eot?#iefix");
src:url("Fonts/864373f8-943b-449d-a730-462eb66d7058.eot?#iefix") format("eot"),url("Fonts/4a475305-1b19-4f93-bb3f-d67733a726cf.woff2") format("woff2"),url("Fonts/49ff3af5-13b2-4add-8470-4cdac3cf650e.woff") format("woff"),url("Fonts/7d69578b-ab0e-4986-af19-428861ada4e4.ttf") format("truetype"),url("Fonts/2848532f-bf3e-4430-aae1-bc0d1367eb84.svg#2848532f-bf3e-4430-aae1-bc0d1367eb84") format("svg");
}







/*============= Colors ===============*/
$yellow: rgb(255, 209, 8);
$yellow-text: rgb(255, 204, 0);
$green-text: rgb(0, 153, 51);
$green: rgb(3, 156, 22);
$gray:rgb(115, 115, 115);
$light-gray: rgba(115, 115, 115, .5);